table{
  border-collapse: collapse; /*agar tidak ada jarak antar border*/
  border: 1px solid #d2d2d2;
  width: 100%;
}
table:last-child{
  margin-bottom: 0px;
}
th,td{
  border: 1px solid #d2d2d2;
  padding: 5px 10px;
}
th{
  background: #f1f1f1;
}
th.no{
  width: 15px;
}
caption{
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
}
.midle{
  text-align: center;
}
td.total{
  text-align: center;
}
