html{
  position: relative;
}
body{
  margin-bottom: 100px;
}
.jumbotron {
  height: 450px;
  background-image: url('image/header-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 - 100px;
  color: #eaeaea;
  overflow: hidden;
}
.jumbotron img{
  width: 200px;
  border: 3px solid #666;
}
.jumbotron h1, .jumbotron p{
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.pkiri, .pkanan{
  opacity: 0;
  transform: translate(50px, 0);
  transition: 1s;
}
.pkanan{
  transform: translate(-50px, 0);
}
.pkiri.pmuncul, .pkanan.pmuncul{
  opacity: 1;
  transform: translate(0,0);
}

.portofolio .img-thumbnail{
  opacity: 0;
  transform: translate(0, -40px);
  transition: 0.5s;
}
.portofolio .img-thumbnail.muncul{
  opacity: 1;
  transform: translate(0,0);
}
hr{
  width: 250px;
  border-top: 3px solid #999;
}
section{
  min-height: 400px;
}
.contact{
  min-height: 800px
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
  padding: 30px
}
footer p{
  color: #aaa;
}
